@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    outline: hsla(130, 86%, 49%, 0.25) solid 2px;
  }
}

@media (min-width: 1024px) {
  body {
    position: fixed;
    display: flex;
  }

  #app {
  }
}
